# Exploratory Data Analysis
---
**Author:** Jacob Redmon  
**Version:** 1.0  
**Semester:** Spring 2021  
**Summary:**  

The goal of this project is to use Pandas/Matplotlib/Seaborn to clean up a data set and explore it.

## 0. Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## 1. Reading and cleaning the data

In [2]:
df = pd.read_csv('movie_metadata.csv')

In [3]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [4]:
df.dtypes

color                         object
director_name                 object
num_critic_for_reviews       float64
duration                     float64
director_facebook_likes      float64
actor_3_facebook_likes       float64
actor_2_name                  object
actor_1_facebook_likes       float64
gross                        float64
genres                        object
actor_1_name                  object
movie_title                   object
num_voted_users                int64
cast_total_facebook_likes      int64
actor_3_name                  object
facenumber_in_poster         float64
plot_keywords                 object
movie_imdb_link               object
num_user_for_reviews         float64
language                      object
country                       object
content_rating                object
budget                       float64
title_year                   float64
actor_2_facebook_likes       float64
imdb_score                   float64
aspect_ratio                 float64
movie_facebook_likes           int64
dtype: object

The columns are not in any particular, so I'll sort them in a more meaningful way.

In [5]:
df = df[[
    'movie_title',
    'title_year',
    'country',
    'language',
    'budget',
    'gross',
    'imdb_score',
    'duration',
    'genres',
    'plot_keywords',
    'color',
    'content_rating',
    'aspect_ratio',
    'facenumber_in_poster',
    'num_critic_for_reviews',
    'num_user_for_reviews',
    'num_voted_users',
    'director_name',
    'actor_1_name',
    'actor_2_name',
    'actor_3_name',
    'director_facebook_likes',
    'actor_1_facebook_likes',
    'actor_2_facebook_likes',
    'actor_3_facebook_likes',
    'cast_total_facebook_likes',
    'movie_facebook_likes',
    'movie_imdb_link'
]]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   movie_title                5043 non-null   object
 1   title_year                 4935 non-null   float64
 2   country                    5038 non-null   object
 3   language                   5031 non-null   object
 4   budget                     4551 non-null   float64
 5   gross                      4159 non-null   float64
 6   imdb_score                 5043 non-null   float64
 7   duration                   5028 non-null   float64
 8   genres                     5043 non-null   object
 9   plot_keywords              4890 non-null   object
 10  color                      5024 non-null   object
 11  content_rating             4740 non-null   object
 12  aspect_ratio               4714 non-null   float64
 13  facenumber_in_poster       5030 non-null   float64
 14  num_critic_for_reviews     4993 non-null   float64
 15  num_user_for_reviews       5022 non-null   float64
 16  num_voted_users            5043 non-null   int64
 17  director_name              4939 non-null   object
 18  actor_1_name               5036 non-null   object
 19  actor_2_name               5030 non-null   object
 20  actor_3_name               5020 non-null   object
 21  director_facebook_likes    4939 non-null   float64
 22  actor_1_facebook_likes     5036 non-null   float64
 23  actor_2_facebook_likes     5030 non-null   float64
 24  actor_3_facebook_likes     5020 non-null   float64
 25  cast_total_facebook_likes  5043 non-null   int64
 26  movie_facebook_likes       5043 non-null   int64
 27  movie_imdb_link            5043 non-null   object
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

There are many columns here that have missing data, I will remove all rows with missing data in any column and still be left with a sizeable data set.

In [17]:
dfa = df.dropna()
len(dfa.index)

3756